:root {
    --main-color: #f0c838;
}

html,
body,
p,
h2 {
    margin: 0;
}

main {
    overflow: hidden;
}

body {
    font-family: 'Overpass', 'Courier New', Courier, monospace;
    background-color: var(--main-color);
}

p {
    font-size: 1.2em;
    margin-bottom: 1em;
}

.introText {
    width: 35em;
    max-width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stephanInfo {
    margin: 0 0 1em 0;
    font-size: 1.2em;
}

.btn {
    padding: 1em;
    text-decoration: none;
    color: #000;
    width: 7em;
    text-align: center;
    outline: solid #000 0.2em;
    border-radius: 0.5em;
}

.btn:hover {
    background-color: #000;
    color: var(--main-color);
    font-weight: 900;
}

.btn:focus {
    outline: solid #fff 0.4em;
    background-color: #000;
    color: var(--main-color);
    font-weight: 900;
}

#avatar_url {
    margin: auto 3em auto 0;
    width: 100%;
    max-width: 25em;
    border-radius: 1em;

    background-color: #000;
    box-shadow: 0.4em 0.4em 1em #0005;
}

h1 {
    margin: 0 0 0.5em 0;
    font-size: 3em;
    font-weight: 900;
}

section:nth-of-type(1) h2 {
    color: #000;
    text-shadow: none;
}

section:nth-of-type(1) {
    margin: 3em;
    max-width: 100%;

    display: flex;
    justify-content: center;
}

h2 {
    margin: 0.5em 0 0 0;
    color: var(--main-color);
    font-size: 2em;
    font-weight: 900;
    text-shadow: 0.1em 0.1em 0.1em #000;
}

@keyframes scrolling {
    0% {
        transform: translate(0);
    }

    100% {
        transform: translate(-120px);
    }
}

.perfPattern {
    margin: 0;
    width: 150%;
    overflow-x: hidden;
    height: 3.5em;
    background-image: url('../img/perf-pattern_Tekengebied 1.png');
    background-size: 10em;
    background-repeat: repeat-x;
}

#movieListContainer {
    margin: 0;
    height: 35em;
    display: flex;
    list-style: none;
    background-color: #000;
    overflow: scroll;

    scrollbar-color: var(--main-color) #000;
    scrollbar-width: thin;
}

.filmStrip {
    position: relative;
}

.loadingAnim {
    width: 100%;
}

.loader {
    position: absolute;
    left: calc(50% - 10em / 2);
    top: calc(50% - 10em / 2);
    width: 10em;
    height: 10em;
    margin: auto;
    z-index: 1;
}

.loader p {
    color: var(--main-color);
}

.moviePoster {
    height: 90%;
    margin: auto 1em auto 1em;
    padding: 0 1em 0 1em;
    text-align: end;
    color: #fff;
    text-shadow: 0.1em 0.1em 0.1em #000;
    background-color: var(--main-color);
    background-size: cover;

    border-radius: 1.2em;
    cursor: pointer;
}

.moviePoster:focus-visible {
    box-shadow: inset 0.1em 0.1em 1.5em #000, inset -0.1em -0.1em 1.5em #000;
    outline: solid 0.5em var(--main-color);
    outline-offset: -0.25em;
}

.moviePoster:hover {
    outline: solid 0.3em var(--main-color);
}

.regularPoster {
    min-width: 21em;
}

.extendedPoster {
    min-width: 31em;
    outline: solid 0.3em var(--main-color);
}

.remove {
    visibility: hidden;
}

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
}

#year {
    margin: 0;
    color: #fff5;
}

#plot {
    width: 15em;
    display: inline-block;
}

li p {
    margin: 1em 0 0 0;
}

#imdbRating {
    margin: 0;
    color: var(--main-color);
    font-size: 2em;
    font-weight: 900;
    text-shadow: 0.1em 0.1em 0.1em #0007;
}

footer {
    margin: 2em 0 2em 0;
    opacity: 0.5;
    text-align: center;
}

@media (max-width: 600px) {
    section:nth-of-type(1) {
        margin: 3em;
        max-width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #avatar_url {
        margin: 0 0 1em 0;
    }

    #movieListContainer {
        height: 30em;
    }

    .movieInfo {
        font-size: 1em;
    }

    .regularPoster {
        min-width: 11em;
    }

    .extendedPoster {
        min-width: 21em;
    }

    #title {
        font-size: 1.5em;
    }

    #imdbRating {
        font-size: 1.5em;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .perfPattern {
        animation: scrolling 3s linear infinite;
    }

    .moviePoster {
        transition: 0.3s;
    }

    .movieInfo {
        transition: 0.3s;
    }

    .btn {
        transition: 0.2s;
    }
}
