html,
body,
p,
h2 {
    margin: 0;
}

html {
    padding: 0;
}

main {
    overflow: hidden;
}

body {
    font-family: 'Overpass', 'Courier New', Courier, monospace;
    background-color: #f0c838;
}

.introText {
    width: 25em;
    max-width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

img:first-of-type {
    margin: 0 3em 1em 0;
    width: 100%;
    max-width: 20em;
    height: 100%;

    background-color: white;
    box-shadow: 0.4em 0.4em 1em #0005;
}

h1 {
    margin: 0 0 0.5em 0;
    font-size: 3em;
    font-weight: 900;
}

h2 {
    margin: .5em 0 0 0;
    color: #f0c838;
    font-size: 2em;
    font-weight: 900;
    text-shadow: 0.1em 0.1em 0.1em #0007;
}

p {
    font-size: 1.2em;
}

@media (max-width: 600px) {
    section:nth-of-type(1) {
        margin: 3em;
        max-width: 100%;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

section:nth-of-type(1) {
    margin: 3em;
    max-width: 100%;

    display: flex;
    justify-content: center;
}

@keyframes scrolling {
    0% {
        transform: translate(0);
    }

    100% {
        transform: translate(-120px);
    }
}

.perfPattern {
    margin: 0;
    width: 150%;
    overflow-x: hidden;
    height: 3.5em;
    background-image: url('../img/perf-pattern_Tekengebied 1.png');
    background-size: 10em;
    background-repeat: repeat-x;
    animation: scrolling 3s linear infinite;
}

.movieContainer {
    margin: 0;
    height: 30em;
    width: 100%;
    background-color: #000;
}

ul {
    margin: 0;
    height: 30em;
    display: flex;
    list-style: none;
    background-color: black;
    overflow: scroll;
}

.movieInfo {
    transition: 0.8s;
}

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
}

#year {
    margin: 0;
    color: #fff5;
}

#plot {
    width: 15em;
    display: inline-block;
}

li p {
    margin: 1em 0 0 0;
}

#imdbRating {
    margin: 0;
    color: #f0c838;
    font-size: 2em;
    font-weight: 900;
    text-shadow: 0.1em 0.1em 0.1em #0007;
}

.moviePoster {
    height: 100%;
    margin: 0 1em 0 1em;
    padding: 0 1em 0 1em;
    text-align: end;
    color: white;
    text-shadow: 0.1em 0.1em 0.1em black;
    background-color: #f0c838;
    background-size: cover;

    border-radius: 1.2em;
    cursor: pointer;

    transition: 0.8s;
}

.regularPoster {
    min-width: 21em;
}

.extendedPoster {
    min-width: 31em;
}

footer {
    margin: 2em 0 2em 0;
    opacity: 0.5;
    text-align: center;
}
